
<meta charset="UTF-8" />

<header th:fragment="layout-header">

	<a th:href="@{/emps/findAll}">社員一覧</a>
	<a th:href="@{/emps/create/emp}">新規登録</a>
	<form th:action="@{/emps/empnamefind/}">
		<input type="text" name="empName" /> <input type="submit" value="検索" />
	</form>

	<form th:action="@{/emps/empdepfind/}">
		<select name="depId">
			<option value="1">人事部</option>
			<option value="2">総務部</option>
			<option value="3">経理部</option>
			<option value="4">営業部</option>
		</select> <input type="submit" value="検索" />

	</form>
</header>
