
<meta charset="UTF-8" />

<header th:fragment="layout-header">

	<div  id = "flexheader">
		<h1><a id = "link" th:href="@{/}">社員一覧社員情報管理システム</a></h1>

		<div th:if="${session.adminFlg == null}">
			<div id = "name">ようこそ <div th:text = "${session.userName}"></div> さん！</div>
			<a th:href = "@{/logout}">ログアウト</a>
		</div>

<!-- 	デザイン的に使うか使わないのか決めるので、一時的にコメントアウト
		<div id = "flexheadersub">
			<a id = "link" th:href="@{/emps/findAll}">社員一覧</a>
			<a id = "link" th:href="@{/emps/create/emp}">新規登録</a>
		</div>
		<div id = "flexheadersub">
			<form th:action="@{/emps/empnamefind/}">
				<input type="text" name="empName" /> <input type="submit" value="検索" />
			</form>
			<form th:action="@{/emps/empdepfind/}">
				<select name="depId">
					<option th:each="deps: ${session.dep}"
						th:value="${deps.depId}" th:text="${deps.depName}"></option>
				</select>
				<input type="submit" value="検索" />
			</form>
		</div> -->
	</div>
</header>
