
<meta charset="UTF-8" />

<aside th:fragment="layout-sidebar">
	<div>
		<div>
			<form th:action="@{/emps/empnamefind/}">
				<div>社員名検索</div>
				<input class="logininput" type="text" name="empName" /> <input
					type="submit" value="検索" />
			</form>
		</div>
		<div>
			<form th:action="@{/emps/empdepfind/}">
				<div>部署検索</div>
				<select name="depId">
					<option th:each="deps: ${session.dep}" th:value="${deps.depId}"
						th:text="${deps.depName}"></option>
				</select> <input type="submit" value="検索" />
			</form>
		</div>
		<div>===社員機能===</div>
		<div>
			<a th:href="@{/emps/findAll}">社員一覧</a>
		</div>
	</div>
	<ul>
		<li><a th:href="@{/empedit/} + ${session.surrogeteKey}">社員情報編集</a></li>
		<!--
		<li>勤怠管理</li>
		<li>有給申請</li>
		<li>資格</li>
		<li>目標シート</li>
		<li>スキルシート</li> -->
	</ul>
	<div th:if="${session.adminFlg == 1}">
		<div>===管理者機能===</div>
		<div>
			<a th:href="@{/emps/create/emp}">新規登録</a>
		</div>
	</div>
</aside>
