
<meta charset="UTF-8" />

<aside th:fragment="layout-sidebar">
	<div>
		<div>
			<form th:action="@{/emps/empnamefind/}">
				<input type="text" name="empName" /> <input type="submit" value="検索" />
			</form>
		</div>
		<div>
			<form th:action="@{/emps/empdepfind/}">
				<select name="depId">
					<option th:each="deps: ${session.dep}"
						th:value="${deps.depId}" th:text="${deps.depName}"></option>
				</select>
				<input type="submit" value="検索" />
			</form>
		</div>
		<div>
			<a th:href="@{/emps/findAll}">社員一覧</a>
		</div>
		<div>
			<a th:href="@{/emps/create/emp}">新規登録</a>
		</div>
	</div>
	<ul>
		<li>社員情報</li>
		<li>勤怠管理</li>
		<li>有給申請</li>
		<li>資格取得</li>
		<li>目標シート</li>
		<li>スキルシート</li>

	</ul>
</aside>
