<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout/layout :: layout(~{::body/content()})}">
	<head>
		<meta charset="UTF-8" />
		<title>社員管理システム</title>
	</head>
	<body>
		<div>
			<div id = "flexmain">
				<div id ="flexsub">
					社員一覧表示
				</div>
				<div id ="flexsub">
					社員情報変更
				</div>
				<div id ="flexsub">
					申請関係
				</div>
				<div id ="flexsub">
					項目４
				</div>
			</div>
			<h2>管理者機能</h2>
			<div id = "flexmain">
				<div id ="flexsub">
					社員情報管理
				</div>
				<div id ="flexsub">
					承認関係
				</div>
				<div id ="flexsub">
					項目３
				</div>
				<div id ="flexsub">
					項目４
				</div>
			</div>
		</div>
	</body>
</html>