<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout/layout :: layout(~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
	<title>社員管理システム</title>
</head>
<body>
<main>
	<div>社員情報</div>

	<table>
		<tr>
			<td>社員番号</td>
			<td th:text=${emp.empId}></td>
		</tr>
		<tr>
			<td>社員名（カナ）</td>
			<td th:text=${emp.empNameKana}></td>
		</tr>
		<tr>
			<td>社員名</td>
			<td th:text=${emp.empName}></td>
		</tr>
		<tr>
			<td>部署</td>
			<td th:text=${emp.depTb.depName}></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td th:text=${emp.mailAddress}></td>
		</tr>
		<tr>
			<td>コメント</td>
			<td th:text=${emp.discription}></td>
		</tr>
	</table>
</main>
</body>
</html>