<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout/layout :: layout(~{::body/content()})}">
	<head>
		<meta charset="UTF-8" />
		<title>社員管理システム</title>
	</head>
	<body>
		<main>
			<table class="emp_table">
				<tr>
					<th>社員番号</th>
					<th>社員名</th>
					<th>社員名＜カナ＞</th>
					<th th:if="${session.adminFlg == 1}">操作</th>
				</tr>
				<tr th:if="${emps.size <= 0}" >
					<td colspan=5>検索結果は0件でした</td>
				</tr>
				<tr th:each="emp : ${emps}">
					<td><a th:href="@{/emps/empshow/} + ${emp.empId}">
							[[${emp.empId}]] </a></td>
					<td th:text="${emp.empName}"></td>
					<td th:text="${emp.empNameKana}"></td>
					<td th:if="${session.adminFlg == 1}"><a th:href = "@{/empedit/} + ${session.surrogeteKey}">編集</a></td>
				</tr>
			</table>
		</main>
	</body>
</html>